<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.imd0509.gerenciabiblioteca">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GerenciaBiblioteca">
        <activity
            android:name=".ui.usuarios.AdicionarUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.usuarios.DetalhesUsuarioActivity"
            android:exported="false" />
        <activity
            android:name=".ui.usuarios.GerenciarUsuariosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emprestimos.DetalhesEmprestimoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emprestimos.AdicionarEmprestimoActivity"
            android:exported="false" />
        <activity
            android:name=".ui.emprestimos.GerenciarEmprestimosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.livros.AdicionarLivroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.livros.DetalhesLivroActivity"
            android:exported="false" />
        <activity
            android:name=".ui.livros.GerenciarLivrosActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>